/******************************** DEFAULTS ***************************/
html, body {
    width: 100%;
    height: 100%;
}
body {
    background-image: linear-gradient(#ffffdd, #ffff99);
    margin: 0;
    overflow: hidden;
    font-family: 'Kameron', serif;

    display: flex;
    width: 100vw;
    flex-direction: row;
}
h1 {
    padding-left: 1vw;
    margin-top: 0;
    font-size: 6em;
    color: ivory;
}
h2 {
    font-size: 2em;
    color: ivory;
}
button:focus { 
    outline-color: #F49D37;
    background-image: linear-gradient(#F49D37, #D47D17);
}


/******************************** CASE *************************************/
.case-body {
    background-image: linear-gradient(#F49D37, #DB5461);
    border: solid #000;
    border-width: 0 5px;

    color: ivory;
}
.case-hdr {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(#DB5461, #F49D37);
}

/******************************** SIDE BAR ********************************/
.sideBtn {
    background-color: #F49D37;
    border-color: #F49D37;
    
    height: 3.5rem;
    width: 80%;
    margin-bottom: 1em;
}
.sideBar {
    display: flex;
    width: 25vw;
    /* align-self: center; */
    z-index: 1; /* Keep buttons in the front */
    margin-top: 18vh;
    flex-direction: column;
}
.sideHeader {
    font-size: 5vw;

    background: linear-gradient(180deg,rgba(255,255,255,0) 65%, #DB5461 0%);

    width: 100%;
    margin-top: 0.3em;
    margin-bottom: 0.75em;
}

/******************************** OVERLAY *********************************/
.tagLine {
    display: flex;
    position: absolute;
    bottom: 1vh;
    width: 100%;
    justify-content: center;
    /* align-items: flex-end; */
    font-family: 'Kameron', serif;
    color: #DB5461;
    font-size: 7vw;
}

/******************************** TRANSITION ******************************/
.fade-out {
    animation: fadeOut ease 3s forwards;
    -webkit-animation: fadeOut ease 3s forwards;
    -moz-animation: fadeOut ease 3s forwards;
    -o-animation: fadeOut ease 3s forwards;
    -ms-animation: fadeOut ease 3s forwards;
}
@keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}